*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.clearfix:after{
	content:"";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
body{
	background:#f5f5f5;
}
.jk-bghearder{
	background: #fff;
	height: 70px;
	border-bottom:1px solid #e4e4e4;
}
.jk-header{
	width: 1000px;
	height: 70px;
	margin: 0 auto;
}
.jk-header .logo{
	float: left;
	width: 100px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
	margin-right: 45px;
}
.logo .jike-logo{
	display: inline-block;
	vertical-align:top;
	width: 100px;
	height: 37px;
	margin-top: 15px;
	text-decoration: none;
}
.logo .jike-logo img{
	display: inline-block;
	vertical-align:middle;
	width: 100px;
}
.jk-header .header-nav{
	float: left;
	width: 490px;
}
.jk-header .header-nav li{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	color: #555;
	line-height: 70px;
	padding-right: 32px;
	font-size: 15px;
	position: relative;	
}
.jk-header .header-nav li .frontier{
	display: inline-block;
	width: 9px;
	height: 9px;
	border-top:2px solid #b0b0b0;
	border-right: 2px solid #b0b0b0;
	transform: rotate(135deg);
}
.jk-header .header-nav li:hover .frontier{
	display: inline-block;
	width: 9px;
	height: 9px;
	border-top:2px solid #b0b0b0;
	border-right: 2px solid #b0b0b0;
	transform: rotate(315deg);
	transition: all 0.5s ease-in;
}

.jk-header .header-nav li .submenu{
	position: absolute;
	left:0;
	top:69px;
	z-index: 1000;
	width: 200px;
	padding:5px 0;
	background:#fff;
	border-top: 1px solid #e4e4e4;
	box-shadow: -1px 3px 5px rgba(000,000,000,0.3);
	display: none;
}
.jk-header .header-nav li:hover .submenu{
	display: inline-block;
}
.jk-header .header-nav li .submenu .ubmenu-web{
	display: block;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	padding:0 15px;
	color: #b9b9b9;
	background: #fafafa;
}
.jk-header .header-nav li .submenu .submenu-item{
	display:block;
	line-height: 30px;
	font-size: 12px;
	padding:0 15px;
	color: #555555;
	text-decoration: none;
}
.jk-header .header-nav li .submenu .submenu-item:hover{
	color: #35b558;
}
.jk-header .header-nav li .submenu .submenu-item .web-icon{
	display: inline-block;
	float: left;
	width: 14px;
	height: 14px;
	margin-top: 8px;
	margin-right: 10px;
	background:url(../img/web.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
}
.jk-header .header-nav li .submenu .submenu-item:nth-child(3) .web-icon{
	background:url(../img/wachat.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
}
.jk-header .header-nav li a{
	color: #555555;
	text-decoration: none;
	font-size: 15px;
	margin-right: 5px;
}
.jk-header .header-nav li a:hover{
	color: #35b558;
}

.header-search{
	border:1px solid #e4e4e4;
	height: 32px;
	width: 230px;
	display: inline-block;
	float: left;
	margin-top: 20px;
	transition: all .3s;
}
.header-search .searchinput{
	float: left;
	width:190px;
	height:30px;
	border:none;
	padding:0 8px;
	border-right: 1px solid #e4e4e4;
	outline: none;
	font-size: 12px;
}
.header-search .search-icno{
	width: 18px;
	height: 18px;
	margin-top: 6px;
	margin-left: 10px;
	display: inline-block;
	background-image:url(../img/sousuo.png);
	background-position: center;
	background-size: 18px;
	background-repeat: no-repeat; 
}
.header-login{
	float: right;
	font-size:14px;
	margin-top: 27px;
}
.header-login a{
	padding:0px 15px;
	display: inline-block;
	vertical-align:middle;
	text-decoration: none;
	color: #555555;
}
.header-login a:hover{
	color: #35b558;
}
.header-login .login-line{
	border-left:1px solid #ccc;
	overflow: hidden;
	margin-top: 27px;
}
.banner-section{
	height: 280px;
	text-align: center;
	background:url(../img/banner-bg.jpg) no-repeat center;
	padding-top:60px;
}
.banner-section .banner-title{
	font-size: 28px;
	color:#fff;
	line-height: 30px;
	margin-bottom:20px;
}
.banner-section .banner-brief{
	font-size: 18px;
	color:#fff;
	height: 30px;
	line-height: 30px;
	margin-bottom: 30px;
}
.banner-section .banner-desc{
	font-size: 14px;
	color:#84fff9;
	height: 30px;
	line-height: 30px;
}
.details-banner{
	width: 100%;
	height: 290px;
	color: #fff;
	background-image: url(../img/details-banner.jpg);
	background-position: center top;
}
.details-banner .details-container{
	position: relative;
	width: 1000px;
	margin:0 auto;
	padding-left:230px;
	padding-top:60px;
}
.details-container .details-left{
	position: absolute;
	top:0;
	left:0;
	height: 50px;
	padding-top:20px;
}
.details-left .details-list{
	list-style: none;
}
.details-list .details-item{
	display: inline-block;
	vertical-align:middle;
	font-size: 12px;
	line-height: 22px;
}
.details-list .details-item a{
	text-decoration: none;
	color: #fff;
}
.details-list .details-item:after{
	content:"";
	display: inline-block;
	width: 4px;
	height: 4px;
	border-right:1px solid #bbb;
	border-bottom: 1px solid #bbb;
	transform: rotate(-45deg);
	margin-right: 5px;
	margin-left:5px;
	position: relative;
	top:-1px;
}
.details-list .details-item:last-child:after{
	display: none;
}
.details-container .details-title{
	font-size: 24px;
	line-height: 20px;
	font-weight: 400;
}
.details-container .details-desc{
	font-size: 12px;
	line-height: 18px;
	margin-top:20px;
	text-align: justify;
	height: 90px;
	width: 465px;
	overflow: hidden;
}
.banner-partner .partner-title{
	font-size: 12px;
	color: #b0b8c4;
	line-height: 20px;
	margin-bottom:10px;
}
.banner-partner .partner-list{
	font-size: 0;
	list-style: none;
}
.partner-list .partner-item{
	display: inline-block;
	vertical-align: middle;
	width: 90px;
	height: 40px;
	margin-right: 5px;
}
.partner-list .partner-item img{
	max-width: 100%;
	vertical-align: middle;
}
.details-container .banner-video{
	position: absolute;
	top:52px;
	right: 0;
	width: 275px;
	height: 160px;
}
.details-main{
	position: relative;
	width: 1000px;
	margin:0 auto;
}
.details-main .nav-left{
	position: relative;
	z-index: 10;
	float: left;
	width: 230px;
}
.nav-left .nav-block{
	position: fixed;
	top:130px;
	color: #333;
	width: 200px;
	background:#fff;
	border-bottom: 0;
}
.nav-block .nav-list{
	list-style: none;
}
.nav-list .nav-item{
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #f1f1f1;
	padding-left: 20px;
	padding-right: 15px;
	overflow: hidden;
	cursor: pointer;
	font-size: 14px;
}
.nav-block .nav-vip{
	height: 240px;
	border-bottom: 0;
	background-image: url(../img/nav-vip.png);
	text-align: center;
	padding-top:160px;
	font-size: 0;
}
.nav-vip .nav-join{
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 30px;
	line-height: 30px;
	background:#fff29a;
	color:#333;
	font-size: 14px;
	border-radius: 2px;
	text-decoration: none;
}
.nav-vip .nav-title{
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	margin-top: 10px;
}
.details-main .main-right{
	position: relative;
	z-index: 10;
	margin-left: 230px;
	width: 770px;
}
.main-right .new-section{
	padding-top:10px;
	width: 770px;
	margin:0 auto;
}
.new-section .new-title{
	line-height: 60px;
	height: 60px;
	text-align: left;
	font-size: 18px;
	color: #333;
}
.new-container .new-question{
	display: inline-block;
	vertical-align: top;
	background:#fff;
	padding:20px;
	width: 490px;
	overflow: hidden;
}
.new-question .new-list{
	list-style: none;
}
.new-list .new-item{
	position: relative;
	padding:0 0 5px 20px;
}
.new-item .new-problem{
	position: relative;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	color:#333;
	font-weight: 400;
}
.new-list .new-item:before{
	content: "";
	display: inline-block;
	position: absolute;
	top:2px;
	left:-6px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-image: url(../img/details-icno.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:20px 20px;
}
.new-item .new-time{
	float: right;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	color: #999999;
}
.new-container .new-ad{
	display: inline-block;
	vertical-align: top;
	width: 275px;
	font-size: 0;
	padding: 10px 10px 10px 0;
	background:#fff;
}
.new-ad .ad-list{
	width:100%;
	list-style: none;
}
.ad-list .ad-item{
	display: inline-block;
	vertical-align: top;
	margin-right:10px;
}
.ad-list .ad-item:nth-child(2n){
	margin:0;
}
.ad-list .ad-item:nth-child(n+3){
	margin-top:10px;
}
.ad-list .ad-item img{
	width: 126px;
	height: 137px;
}


.course-section{
	padding-top:10px;
	width: 770px;
	margin:0 auto;
}
.course-section .course-vedio{
	display: inline-block;
	vertical-align: top;
	line-height: 60px;
	text-align: left;
	height: 60px;
	font-size: 18px;
	color: #333;
}
.course-section .course-more{
	float:right;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	color:#999;
}
.course-container .course-item{
	display: inline-block;
	vertical-align: top;
	width: 240px;
	height: 225px;
	margin-right: 20px;
	background:#fff;
}
.course-container .course-item:last-child{
	margin-right: 0;
}
.course-item .coure-photo{
	width: 100%;
	height: 134px;
	display: block;
	vertical-align: middle;
}
.course-item .coure-photo img{
	width: 100%;
	height: 134px;
}
.course-item .coure-desc{
	width: 100%;
	padding:15px;
}
.coure-desc .course-title{
	font-size:13px;
	height: 20px;
	line-height: 20px;
	text-align: left;
	color:#555555;
	margin-bottom: 20px;
}
.coure-desc .course-time{
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
.coure-desc .course-icon{
	float: right;
	width: 18px;
	height: 18px;
}
.system-section{
	padding-top:10px;
	width: 770px;
	margin:0 auto;
}
.system-section .system-title{
	line-height: 60px;
	height: 60px;
	text-align: left;
	font-size: 18px;
	color: #333;
}
.system-container .system-photo{
	display: block;
	width: 100%;
	height: 280px;
	margin-bottom: 20px;
}
.system-photo img{
	width: 100%;
	height: 280px;
}
.system-container .system-title{
	font-size:13px;
	text-align: center;
	color: #555555;
	height: 20px;
	line-height: 20px;
}
.main-right .path-section{
	padding-top:10px;
	width: 770px;
	margin:0 auto;
}
.path-section .path-title{
	line-height: 60px;
	height: 60px;
	text-align: left;
	font-size: 18px;
	color: #333;
}
.path-container .essential{
	margin-bottom: 20px;
}
.essential .essential-title{
	position: relative;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	overflow: hidden;
	color: #fff;
	padding-left:20px;
	background:#35b558;
	font-weight: 500;
}
.essential .essential-title:before{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top:-10px;
	left:-10px;
	background:#5dc479;
	transform: rotate(45deg);
}
.essential-title .essential-desc{
	font-size: 12px;
	margin-left:15px;
}
.essential-course ul{
	list-style: none;
}
.essential-course ul .essential-item{
	padding:20px;
	padding-left:245px;
	min-height: 180px;
	position: relative;
	background:#fff;
	border-bottom: 1px solid #f1f1f1;
}
.essential-course ul .essential-item:first-child{
	border-bottom: 0;
}

.essential-item .level-image{
	display: inline-block;
	width: 210px;
	height: 140px;
	position: absolute;
	top:20px;
	left:20px;
}
.essential-item .level-image img{
	width: 210px;
	height: 140px;
}
.essential-item  .item-title{
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	color: #333;
}
.item-title .android{
	text-decoration: none;
	color:#333;
}
.essential-item .item-desc{
	font-size: 12px;
	line-height: 18px;
	color:#333;
	height: 32px;
}
.essential-item .item-name{
	font-size: 12px;
	height: 18px;
	color: #999;
	margin:20px 0;
}
.item-outline .outline-title{
	position: relative;
	font-size: 12px;
	line-height: 28px;
	color:#0072c6;
	cursor:pointer;
}
.item-outline .outline-title:before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 8px;
	background:url(../img/path-arrow.png) no-repeat center;
	vertical-align: middle;
	margin-right: 5px;
	transition: all .2s ease;
}
.item-outline:hover .outline-title:before{
	top:-2px;
	transform: rotate(180deg);
}
.outline-list{
	list-style: none;
/*	display: none;*/
}
.outline-list .outline-item{
	margin-top:10px;
	padding:20px;
	background:#f7f7f7;
	position: relative;
}
.outline-course .outline-lesson{
	font-size: 14px;
	color: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}
.outline-lesson .level-desc{
	margin-left: 20px;
	font-size: 12px;
	color: #999;
}
.catalog{
	list-style: none;
}
.catalog .catalog-item{
	height: 30px;
	margin-bottom: 5px;
}
.catalog-item .catalog-content{
	position: relative;
	display: block;
	color: #333;
	height: 30px;
	line-height: 30px;
	padding-left:35px;
	overflow: hidden;
	background:#fff;
	font-size: 0;
}
.catalog-item .catalog-content:before{
	content:"";
	position: absolute;
	left:10px;
	top:50%;
	margin-top:-9px;
	display: inline-block;
	height: 18px;
	width: 18px;
	background:url(../img/path-video.png) no-repeat center;
}
.catalog-content .catalog-text{
	display: inline-block;
	vertical-align: middle;
	width: 340px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
}
.catalog-content .catalog-time{
	display: inline-block;
	width: 90px;
	color: #999;
	text-align: right;
	vertical-align: middle;
	font-size: 12px;
	position: absolute;
	top:0;
	right: 0;
}
.catalog-content .catalog-time:after{
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin:0 8px;
	vertical-align: middle;
	background:url(../img/default-icon.png) no-repeat center;
}




