*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.clearfix:after{
	content:"";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
body{
	background:#f5f5f5;
}
.jk-bghearder{
	background: #fff;
	height: 70px;
	border-bottom:1px solid #e4e4e4;
}
.jk-header{
	width: 1000px;
	height: 70px;
	margin: 0 auto;
}
.jk-header .logo{
	float: left;
	width: 100px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
	margin-right: 45px;
}
.logo .jike-logo{
	display: inline-block;
	vertical-align:top;
	width: 100px;
	height: 37px;
	margin-top: 15px;
	text-decoration: none;
}
.logo .jike-logo img{
	display: inline-block;
	vertical-align:middle;
	width: 100px;
}
.jk-header .header-nav{
	float: left;
	width: 490px;
}
.jk-header .header-nav li{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	color: #555;
	line-height: 70px;
	padding-right: 32px;
	font-size: 15px;
	position: relative;	
}
.jk-header .header-nav li .frontier{
	display: inline-block;
	width: 9px;
	height: 9px;
	border-top:2px solid #b0b0b0;
	border-right: 2px solid #b0b0b0;
	transform: rotate(135deg);
}
.jk-header .header-nav li:hover .frontier{
	display: inline-block;
	width: 9px;
	height: 9px;
	border-top:2px solid #b0b0b0;
	border-right: 2px solid #b0b0b0;
	transform: rotate(315deg);
	transition: all 0.5s ease-in;
}

.jk-header .header-nav li .submenu{
	position: absolute;
	left:0;
	top:69px;
	z-index: 1000;
	width: 200px;
	padding:5px 0;
	background:#fff;
	border-top: 1px solid #e4e4e4;
	box-shadow: -1px 3px 5px rgba(000,000,000,0.3);
	display: none;
}
.jk-header .header-nav li:hover .submenu{
	display: inline-block;
}
.jk-header .header-nav li .submenu .ubmenu-web{
	display: block;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	padding:0 15px;
	color: #b9b9b9;
	background: #fafafa;
}
.jk-header .header-nav li .submenu .submenu-item{
	display:block;
	line-height: 30px;
	font-size: 12px;
	padding:0 15px;
	color: #555555;
	text-decoration: none;
}
.jk-header .header-nav li .submenu .submenu-item:hover{
	color: #35b558;
}
.jk-header .header-nav li .submenu .submenu-item .web-icon{
	display: inline-block;
	float: left;
	width: 14px;
	height: 14px;
	margin-top: 8px;
	margin-right: 10px;
	background:url(../img/web.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
}
.jk-header .header-nav li .submenu .submenu-item:nth-child(3) .web-icon{
	background:url(../img/wachat.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
}
.jk-header .header-nav li a{
	color: #555555;
	text-decoration: none;
	font-size: 15px;
	margin-right: 5px;
}
.jk-header .header-nav li a:hover{
	color: #35b558;
}

.header-search{
	border:1px solid #e4e4e4;
	height: 32px;
	width: 230px;
	display: inline-block;
	float: left;
	margin-top: 20px;
	transition: all .3s;
}
.header-search .searchinput{
	float: left;
	width:190px;
	height:30px;
	border:none;
	padding:0 8px;
	border-right: 1px solid #e4e4e4;
	outline: none;
	font-size: 12px;
}
.header-search .search-icno{
	width: 18px;
	height: 18px;
	margin-top: 6px;
	margin-left: 10px;
	display: inline-block;
	background-image:url(../img/sousuo.png);
	background-position: center;
	background-size: 18px;
	background-repeat: no-repeat; 
}
.header-login{
	float: right;
	font-size:14px;
	margin-top: 27px;
}
.header-login a{
	padding:0px 15px;
	display: inline-block;
	vertical-align:middle;
	text-decoration: none;
	color: #555555;
}
.header-login a:hover{
	color: #35b558;
}
.header-login .login-line{
	border-left:1px solid #ccc;
	overflow: hidden;
	margin-top: 27px;
}
.banner-section{
	height: 280px;
	text-align: center;
	background:url(../img/banner-bg.jpg) no-repeat center;
	padding-top:60px;
}
.banner-section .banner-title{
	font-size: 28px;
	color:#fff;
	line-height: 30px;
	margin-bottom:20px;
}
.banner-section .banner-brief{
	font-size: 18px;
	color:#fff;
	height: 30px;
	line-height: 30px;
	margin-bottom: 30px;
}
.banner-section .banner-desc{
	font-size: 14px;
	color:#84fff9;
	height: 30px;
	line-height: 30px;
}
.start-section{
	width: 1000px;
	padding-top: 10px;
	margin:0 auto;
}
.start-section .start-title{
	height: 60px;
	line-height: 60px;
	text-align: left;
	font-size: 18px;
	color:#333;
	font-weight: 400;
}
.start-container .start-list{
	font-size: 0;
	list-style: none;
}
.start-container .start-list .start-item{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width:200px;
	height: 260px;
	background: #fff;
	padding-top: 25px;
	text-align: center;
}
.start-list .start-item .start-point{
	display: inline-block;
	width: 52px;
	height: 8px;
	font-size: 0;
	position: absolute;
	top:50px;
	right: -26px;
	z-index: 2;
}
.start-item .start-point i{
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}
.start-item .start-point i:nth-child(1){
	width: 4px;
	height: 4px;
	background: #edf9f9;
	margin-right: 18px;
}
.start-item .start-point i:nth-child(2){
	width: 6px;
	height: 6px;
	background: #a7e3e1;
	margin-right: 16px;
}
.start-item .start-point i:nth-child(3){
	width: 8px;
	height: 8px;
	background: #73d2d0;
}
.start-item .start-image{
	position: relative;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	margin:0 auto;
	text-align: center;
	background: #f8f8f8;	
}
.start-item .start-image img{
	max-width: 100%;
	position: relative;
	top:50%;
	transform: translateY(-50%);
}
.start-item .item-title{
	position: relative;
	font-size: 15px;
	line-height: 20px;
	height: 20px;
	margin-top:20px;
	margin-bottom: 20px;
	color:#333;
	font-weight: 400;
}
.start-item .item-title:after{
	content:"";
	display: inline-block;
	width: 20px;
	height: 2px;
	background-color: #73d2d0;
	position: absolute;
	top:33px;
	left:50%;
	margin-left: -10px;
}
.start-item .item-desc{
	width: 140px;
	margin:0 auto;
	line-height: 20px;
	color: #333;
	font-size: 12px;
	text-align: justify;
}
.understand-section{
	padding-top:10px;
	width: 1000px;
	margin:0 auto;
}
.understand-section .understand-title{
	line-height: 60px;
	height: 60px;
	text-align: left;
	font-size:18px;
	color: #333;
}
.understand-container .container-top{
	height: 60px;
	background:#06b3a3;
}
.container-top .top-list{
	height: 60px;
	line-height: 60px;
	font-size: 0;
	list-style: none;
}
.top-list li{
	position: relative;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	text-align: center;
	color:#fff;
}  
.top-list .design{
	width: 200px;
	background:#039f93;
	background:url(../img/lt1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px 60px;
}
.top-list .tech{
	width: 620px;
}
.top-list .market{
	width: 180px;
	background:url(../img/rt1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 180px 60px;
}
.understand-container .container-main{
	font-size: 0;
	height: 760px;
	background:#fff;
}
.container-main .main-design{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 760px;
	width: 180px;
	padding-left:30px;
	padding-top:25px;
	border-right: 1px solid #d7e5e4;
}
.main-design .main-card{
	position: relative;
}
.main-card .card-title{
	font-size: 14px;
	height: 15px;
	line-height: 15px;
	color: #029e93;
	margin-bottom: 15px;
	font-weight: 400;
}
.main-card .main-item{
	margin-bottom: 15px;
	max-width: 450px;
}
.main-card .tech-item:hover{
	color:#fff;
	background: #03b1a4;
}
.main-card .tech-item:hover .tech-desc{
	display: inline-block;
}
.main-item .main-content{
	font-size: 0;
	list-style: none;
}
.main-item .main-content .item-title{
	width: 120px;
	border:0;
	cursor: default;
	background: url(../img/boder.png) no-repeat center;
	background-size: 100% 100%;
	line-height: 30px;
	position: relative;
	vertical-align: top;
	display: inline-block;
	height: 30px;
	border-radius: 12px;
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}
.item-title .item-desc{
	position: absolute;
	top:45px;
	left:50%;
	margin-left:-140px;
	width: 280px;
	padding: 10px;
	line-height: 18px;
	font-size: 12px;
	color:#333;
	text-align: justify;
	background:#fff;
	z-index: 2;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	display: none;
}
.item-title:hover .item-desc{
	display: inline-block;
}

.item-title .item-desc:after{
	display: inline-block;
	content:"";
	width: 0;
	height: 0;
	position: absolute;
	top:-14px;
	left:50%;
	margin-left:-7px;
	border-right:7px solid transparent;
	border-top:6px solid transparent;
	border-bottom:6px  solid #e9e9e9;
}
.item-desc .item-tips{
	position:relative;
	text-align: center;
	height: 20px;
	color: #666;
	margin-bottom: 4px;
}
.item-desc .item-tips:before{
	content:"";
	display: inline-block;
	width: 100%;
	height: 1px;
	background: #f1f1f1;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-1px;
}
.item-tips .tips-title{
	display: inline-block;
	background: #fff;
	position: absolute;
	top:0;
	left:50%;
	width: 140px;
	margin-left:-70px;
}
.item-desc .tips-desc{
	font-size: 12px;
	text-align: justify;
}




.container-main .main-tech{
	padding-left:40px;
	width: 620px;
	position: relative;
	vertical-align: top;
	display: inline-block;
	height: 760px;
	padding-top:25px;
}
.main-tech .tech-card{
	position: relative;
}
.tech-card .tech-title{
	font-size: 14px;
	height: 15px;
	line-height: 15px;
	color: #029e93;
	margin-bottom:15px;
}
.main-tech .tech-content{
	display: inline-block;
	vertical-align: top;
	width: 170px;
	max-width: 450px;
	margin-bottom: 15px;
}
.tech-content .content-title{
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 10px;
	font-weight: 400;
}
.tech-content .tech-list{
	font-size: 0;
	list-style: none;
}
.tech-list .tech-item{
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 140px;
	height: 30px;
	background:#fff;
	border:1px solid #03b1a4;
	border-radius: 15px;
	font-size: 12px;
	color: #333;
	line-height: 28px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}
.tech-list .tech-item:hover{
	background: #03b1a4;
	color: #fff;
}
.tech-list .tech-item:hover .tech-desc{
	display: inline-block;
}

.tech-item .item-web{
	display: block;
	height: 100%;
	color: #333;
	text-decoration: none;
}
.item-web .tech-desc{
	position: absolute;
	top:45px;
	left:50%;
	margin-left:-140px;
	width: 280px;
	padding:10px;
	line-height: 18px;
	font-size: 12px;
	color:#333;
	text-align: justify;
	background: #fff;
	z-index: 2;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	display: none;
}
.item-web .tech-desc:after{
	content:"";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	top:-14px;
	left: -50%;
	margin-left:-7px;
	border-right:7px solid transparent;
	border-top:6px solid transparent;
	border-bottom:6px  solid #e9e9e9;
}
.tech-desc .desc-word{
	font-size: 12px;
	text-align: justify;
}
.tech-list .tech-wait{
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 140px;
	height: 30px;
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	border:0;
	cursor:default;
	background: url(../img/boder.png) no-repeat center;
	background-size: 100% 100%;
	line-height: 30px; 
}
.main-tech .tech-back{
	margin-bottom: 15px;
	max-width: 450px;
}
.tech-back .back-title{
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	color: #666;
	margin-bottom: 10px;
	font-weight: 400;
}
.tech-back .back-list{
	font-size: 0;
	list-style: none;
}
.back-list .back-item{
	position:relative;
	display: inline-block;
	vertical-align: top;
	width: 140px;
	height: 30px;
	background: #fff;
	border:1px solid #03b1a4;
	border-radius: 15px;
	font-size: 12px;
	color: #333;
	line-height: 28px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor:pointer;
}
.back-item .item-php{
	display: block;
	height: 100%;
	color: #333;
	text-decoration: none;
}
.back-item .item-php .back-desc{
	position: absolute;
	top:45px;
	left:50%;
	margin-left:-140px;
	width: 280px;
	padding:10px;
	line-height: 18px;
	font-size: 12px;
	color:#333;
	text-align: justify;
	background: #fff;
	z-index: 2;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	display: none;
}
.back-list .back-item:hover{
	background: #03b1a4;
	color: #fff;
}
.back-list .back-item:hover .back-desc{
	display: inline-block;
}
.back-desc .back-word{
	font-size: 12px;
	text-align: justify;
}
.back-list .back-wait{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 140px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	border:0;
	cursor: 0;
	background: url(../img/boder.png) no-repeat center;
	background-size: 100% 100%;
	line-height: 30px;
}
.back-list .back-wait:hover .wait-desc{
	display: inline-block;
}
.back-wait .wait-desc{
	position: absolute;
	top:45px;
	left:50%;
	margin-left:-140px;
	width: 280px;
	padding:10px;
	line-height: 18px;
	font-size: 12px;
	color:#333;
	text-align: justify;
	background: #fff;
	z-index: 2;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	display: none;
}
.back-wait .wait-desc:before{
	content:"";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	top:-14px;
	left:50%;
	margin-left:-7px;
	border-right:7px solid transparent;
	border-top:6px solid transparent;
	border-bottom:6px  solid #e9e9e9;
}
.back-wait .wait-desc:after{
	content:"";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	top:-12px;
	left: 50%;
	margin-left:-7px;
	border-right:7px solid transparent;
	border-top:6px solid transparent;
	border-bottom:6px  solid #fff;
}
.wait-desc .wait-tips{
	position: relative;
	text-align: center;
	height: 20px;
	color: #666;
	margin-bottom: 4px;
}
.wait-desc .wait-tips:before{
	content:"";
	display: inline-block;
	width: 100%;
	height: 1px;
	background: #f1f1f1;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-1px;
}
.wait-tips .tips-word{
	display: inline-block;
	background: #fff;
	position: absolute;
	top:0;
	left:50%;
	width: 140px;
	margin-left:-70px;
}
.wait-desc .wait-word{
	font-size: 12px;
	text-align: justify;
}
.tech-card .tech-project{
	line-height: 37px;
	height: 37px;
	width: 560px;
	font-size: 13px;
	color: #333;
	text-align: center;
	cursor: default;
	background: url(../img/btn-bg.png) no-repeat center;
}
.tech-card .tech-expect{
	display: inline-block;
	height: 490px;
	width: 40px;
	position: absolute;
	top:35px;
	right: 40px;
	font-size: 13px;
	text-align: center;
	background: url(../img/btn-bgtwo.png) no-repeat center;
	cursor: default;
}
.tech-expect .expect-title{
	color: #333;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	display: inline-block;
	width: 20px;
}
.main-tech .tech-test{
	display: block;
	height: 120px;
	width: 100%;
	position: absolute;
	left:0;
	bottom:0;
	padding-left:30px;
	padding-top:25px;
	border-top:1px solid #d7e5e4;
}
.tech-test .text-card{
	position: relative;
}
.text-card .card-title{
	font-size: 14px;
	height: 15px;
	line-height: 15px;
	color: #029e93;
	margin-bottom: 15px;
}
.tech-test .text-list{
	margin-bottom: 15px;
	max-width: 450px;
}
.text-list .text-item{
	font-size: 0;
	list-style: none;
}
.text-item .text-title{
	width: 120px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 30px;
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	border:0;
	cursor: default;
	background: url(../img/boder.png) no-repeat center;
	background-size: 100% 100%;
	line-height: 30px;
}
.text-title .text-desc{
	position: absolute;
	top:45px;
	left:50%;
	margin-left:-140px;
	width: 280px;
	padding:10px;
	line-height: 18px;
	font-size: 12px;
	color:#333;
	text-align: justify;
	background: #fff;
	z-index: 2;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	display: none;
}
.text-item .text-title:hover .text-desc{
	display: inline-block;
}
.text-title .text-desc:before{
	content:"";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	top:-14px;
	left:50%;
	margin-left:-7px;
	border-right:7px solid transparent;
	border-top:6px solid transparent;
	border-bottom:6px  solid #e9e9e9;
}
.text-title .text-desc:after{
	content:"";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	top:-12px;
	left: 50%;
	margin-left:-7px;
	border-right:7px solid transparent;
	border-top:6px solid transparent;
	border-bottom:6px  solid #fff;
}

.text-desc .text-tips{
	position: relative;
	text-align: center;
	height: 20px;
	color: #666;
	margin-bottom: 4px;
}
.text-desc .text-tips:before{
	content: "";
	width: 100%;
	height: 1px;
	background: #f1f1f1;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-1px;
}
.text-tips .text-word{
	display: inline-block;
	background: #fff;
	position: absolute;
	top:0;
	left:50%;
	width: 140px;
	margin-left:-70px;
}




.container-main .main-market{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 760px;
	width: 180px;
	padding-left:30px;
	padding-top:25px;
	border-left: 1px solid #d7e5e4;
}
.main-market .main-card{
	position: relative;
}
.main-card .card-title{
	font-size: 14px;
	height: 15px;
	line-height: 15px;
	color: #029e93;
	margin-bottom: 15px;
	font-weight: 400;
}
.main-card .main-item{
	margin-bottom: 15px;
	max-width: 450px;
}
.main-card .tech-item:hover{
	color:#fff;
	background: #03b1a4;
}
.main-card .tech-item:hover .tech-desc{
	display: inline-block;
}
.main-item .main-content{
	font-size: 0;
	list-style: none;
}
.main-item .main-content .item-title{
	width: 120px;
	border:0;
	cursor: default;
	background: url(../img/boder.png) no-repeat center;
	background-size: 100% 100%;
	line-height: 30px;
	position: relative;
	vertical-align: top;
	display: inline-block;
	height: 30px;
	border-radius: 12px;
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}
.item-title .item-desc{
	position: absolute;
	top:45px;
	left:50%;
	margin-left:-140px;
	width: 280px;
	padding: 10px;
	line-height: 18px;
	font-size: 12px;
	color:#333;
	text-align: justify;
	background:#fff;
	z-index: 2;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
	display: none;
}
.item-title:hover .item-desc{
	display: inline-block;
}

.item-title .item-desc:after{
	display: inline-block;
	content:"";
	width: 0;
	height: 0;
	position: absolute;
	top:-14px;
	left:50%;
	margin-left:-7px;
	border-right:7px solid transparent;
	border-top:6px solid transparent;
	border-bottom:6px  solid #e9e9e9;
}
.item-desc .item-tips{
	position:relative;
	text-align: center;
	height: 20px;
	color: #666;
	margin-bottom: 4px;
}
.item-desc .item-tips:before{
	content:"";
	display: inline-block;
	width: 100%;
	height: 1px;
	background: #f1f1f1;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-1px;
}
.item-tips .tips-title{
	display: inline-block;
	background: #fff;
	position: absolute;
	top:0;
	left:50%;
	width: 140px;
	margin-left:-70px;
}
.item-desc .tips-desc{
	font-size: 12px;
	text-align: justify;
}
.understand-container .container-bottom{
	background: #fff;
	height: 80px;
	border-top:1px solid #d7e5e4;
}
.container-bottom .bottom-title{
	display: block;
	margin:20px auto 0;
	width: 940px;
	height: 37px;
	color:#333;
	line-height: 37px;
	text-align: center;
	background: url(../img/btn-bgthree.png) no-repeat center;
}
.understand-section .understand-desc{
	font-size: 13px;
	color: #555;
	text-align: center;
	padding:20px 0 10px;
	line-height: 20px;
}

.choice-section{
	padding-top:10px;
	width: 1000px;
	margin:0 auto;
}
.choice-section .choice-title{
	line-height: 60px;
	height: 60px;
	text-align: left;
	font-size: 18px;
	color: #333;
}
.choice-container .choice-list{
	font-size: 0;
	list-style: none;
}
.choice-list .choice-item{
	position: relative;
	display: inline-block;
	padding-top:15px;
	margin-right: 10px;
	height: 150px;
	width: 192px;
	background: #fff;	
}
.choice-list .choice-item:nth-child(5n){
	margin-right:0;
}
.choice-list .choice-item:nth-child(n+6){
	margin-top:10px;
}
.choice-list .choice-item:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,.2);
}
.choice-list .choice-item:before{
	content:"";
	display: inline-block;
	width: 23px;
	height: 11px;
	position: absolute;
	top:6px;
	left: 6px;
	background-image: url(../img/ad.png);
	background-size: 23px 11px;
}

.choice-list .choice-item a{
	text-decoration: none;
	display: block;
}
.choice-list .choice-item a img{
	width: 160px;
	height: 96px;
}
.choice-item a .android-title{
	margin-top:10px;
	font-size: 12px;
	color: #333;
	text-align: center;
}
.process-section{
	padding-top:10px;
	width: 1000px;
	margin:0 auto;
}
.process-section .process-title{
	line-height: 60px;
	height: 60px;
	text-align: left;
	font-size: 18px;
	color: #333;
}
.process-section .process-container{
	position: relative;
	padding-right: 370px;
	height: 450px;
}
.process-left .process-list{
	list-style: none;
}
.process-list .process-item{
	height: 150px;
	padding-left:30px;
	padding-top:30px;
	padding-right: 20px;
	color: #333;
	background:#fff;
	border-bottom: 1px solid #f1f1f1;
}
.process-item .learning-title{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 400;
}
.process-item .process-desc{
	font-size: 12px;
	line-height: 20px;
}
.process-container .process-right{
	position: absolute;
	top:0;
	right: 0;
	width: 370px;
	height: 450px;
	background-color:#2cc08d;
	background-image: linear-gradient(to right,#2cc08d,#2cb7a8)
}








